@import url(./resetter.css);

* {
  --ff: Arial, Helvetica, sans-serif;
}

body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  font-family: var(--ff);
}

body > header {
  background-color: aliceblue;
}

body > main {
  background-color: azure;
}

body > footer {
  background-color: aquamarine;
}